@import 'variables.scss';

$material-design-icons-font-directory-path: '~material-design-icons-iconfont/dist/fonts/';
@import '~material-design-icons-iconfont/src/material-design-icons';

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
$site-height: 100vh;
$site-width: 1280px;
html {
  height: $site-height;
  height: -webkit-fill-available;
}
body {
  height: 100%;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  width: 100%;
  max-width: $site-width;
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.flex-wrapper-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tech-info {
  font-size: .7rem;
  color: $salad-fnt;
}
.tech-info-gray {
  font-size: .7rem;
  color: gray;
}

.total {
  font-size: 1.5rem;
  font-weight: 500;
  color: #106c70;
}
.sub-total {
  font-size: 1.2rem;
  font-weight: 500;
  color: $salad-fnt;
}
.alert-txt-animated {
  @keyframes alert {
    0% {transform: scale(1);}
    50% {transform: scale(2);}
    100% {transform: scale(1);}
  }
  color: red;
  animation: 1s ease-in 1s infinite reverse both running alert;
}
.alert-txt {
  color: red;
  line-height: 1.4;
}
.block {
  display: block;
}
i {
  color: grey;
  margin-right: .3rem;
}

.material-icons {
  color: $salad-fnt;
}

.text-wrap {
  text-wrap: balance;
  
}


// PRINCIPAL
body {
  background-image: url('@/assets/images/main-background.avif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  @include media('max', 'md') {
    background-size: contain;
    background-position: top center;
  }
  // backdrop-filter: blur(2px) grayscale(50%) brightness(50%);
  backdrop-filter: blur(2px) grayscale(50%);

  scrollbar-gutter: stable;
  margin: 0 auto;
}

// HEADERS
h1 {
  font-size: 3.5rem;
  color: #6495ed;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .4rem;
  text-shadow: 1px 1px 3px #000000;
  @include media('max', 'lg') {
    font-size: 2.6rem;
    letter-spacing: .3rem;
    text-wrap: pretty;
  }
  @include media('max', 'md') {
    font-size: 2.5rem;
    letter-spacing: .3rem;
    text-wrap: pretty;
  }
  @include media('max', 'sm') {
    font-size: 2rem;
    letter-spacing: .4rem;
    text-wrap: pretty;
  }
}
h2 {
  font-size: 2.5rem;
  color: #878686;
  text-align: center;
  line-height: 4rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  margin-bottom: 1.5rem;
  @include media('max', 'lg') {
    font-size: 2.2rem;
    letter-spacing: .2rem;
    text-wrap: pretty;
  }
  @include media('max', 'md') {
    font-size: 2rem;
    letter-spacing: .1.5rem;
    text-wrap: pretty;
  }
  @include media('max', 'sm') {
    font-size: 1.8rem;
    letter-spacing: .1.5rem;
    text-wrap: pretty;
  }
}
h3 {
  font-size: 1.5rem;
  color: $green-btn;
  letter-spacing: .2rem;
  text-align: center;
  text-transform: uppercase;  
}
