$green-btn: #329c26;
$green-btn-a: #329c2680;
$salad-fnt: #299429;
$main-shadow:  2px 2px 10px gray;
$semi-trans-bgrnd: rgba(255, 255, 255, 0.8);
$base-radius: .4rem;
$large-radius: 1rem;
$warn-txt: #fa7e70;
$grey-txt: #7e7e7e;
$dark-grey-txt: #424242;
$icon-color: #b2d6b6;
$acc-txt-color: #106c70;

@mixin prod-card-side2-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 1rem;
  min-width: 100%;
}


$retina-resolution: 192dpi;

$sizes: ("xs":320px, "sm":576px, "md":768px, "lg":992px, "xl":1280px);

@mixin media($minmax, $media) {
  @each $size, $resolution in $sizes {
    @if $media == $size {
      @media only screen and (#{$minmax}-width: $resolution) {
        @content;
      }
    }
  }
}

@mixin cart-item-divider {
  display: flex;
  // justify-content: space-between;
  // align-items: center;
  gap: 2rem;

  @include media('max', 'lg') {
    // background-color: #e7cccc;
  }
  @include media('max', 'md') {
    // background-color: #b9efb4;
  }
  @include media('max', 'sm') {
    flex: 1 1 auto;
    // background-color: #e8efb4;
  }
  @include media('max', 'xs') {
    // background-color: #ffffff;
  }
}
